
.imagediv{
    margin: 50px auto 20px auto;
    width: 500px;
    height: 350px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    background-color: rgba(53, 51, 51, 0.913);
    color: aliceblue;
    font-size: larger;
    padding: 10px;
}
.header{
 color:aliceblue;
 margin: 50px 0 0 100px;
}
.image{
    max-width: 95%;
    max-height: 95%;
    border-radius: 5%;
} 

*{
    margin: 0;
    padding: 0;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: blue;
    border-radius: 0 0 30px 30px;
}
.rightSide{
    display: flex;
    justify-content: space-between;
}
.R{
    margin: 0 10px 0 10px;
    color: black;
    font-weight: 500;
}
.Ractive{
    margin: 0 10px 0 10px;
    color: antiquewhite;
    transform: scale(1.2);
}
body{
    background-image: url("./assets/milad-fakurian-58Z17lnVS4U-unsplash.jpg");
     background-repeat: no-repeat;
     background-origin: border-box;
     background-position: center;
     background-attachment: fixed;
     background-size:cover;
}
.R:hover{
    color: antiquewhite;
    transform: scale(1.2);
}
.logo{
    max-width: 50px;
    max-height: 50px;
}
.center{
    display: grid;
    place-items: center;
}